<div class="container content">
  <span *ngIf="noData" class="text-center noInfo">No hay directorios</span>

  <mat-list role="list" class="list" *ngFor="let phoneBook of dataList">
    <mat-list-item class="row text-center" role="listitem">
      <div class="col-4">
        <img class="imgList" src="../../../assets/img/phonebook icon.png" alt="Phonebook" />
      </div>
      <div class="col-4">{{phoneBook.name}}</div>
      <div class="col-4">
        <a [routerLink]="['contactList', phoneBook._id]">Ver</a>
      </div>
    </mat-list-item>
  </mat-list>
</div>
