.list{
    padding: 10px 10px;
    margin-bottom: 20px;
}

.noInfo{
    font-size: 30px;
    text-align: center !important;
    color: #001058;
}

.container{
    margin-top: 20px;
}

.imgList{
    width: 80px;
}

a{
    text-decoration: none;
    color: #3a7bb8;
}

a:hover{
    transition: all .5s;
    color: #0b4377;
}