<div class="container content">
  <mat-list role="list" class="list">
    <mat-list-item class="row text-center" role="listitem">
      <div class="col-4">
        <img class="imgList" src="../../../assets/img/phonebook icon.png" alt="Phonebook" />
      </div>
      <div class="col-4">Nombre del directorio</div>
      <div class="col-4"><a routerLink="contactList">Ver</a></div>
    </mat-list-item>
  </mat-list>

  <mat-list role="list" class="list">
    <mat-list-item class="row text-center" role="listitem">
      <div class="col-4">
        <img class="imgList" src="../../../assets/img/phonebook icon.png" alt="Phonebook" />
      </div>
      <div class="col-4">Nombre del directorio</div>
      <div class="col-4"><a routerLink="contactList">Ver</a></div>
    </mat-list-item>
  </mat-list>

  <mat-list role="list" class="list">
    <mat-list-item class="row text-center" role="listitem">
      <div class="col-4">
        <img class="imgList" src="../../../assets/img/phonebook icon.png" alt="Phonebook" />
      </div>
      <div class="col-4">Nombre del directorio</div>
      <div class="col-4"><a routerLink="contactList">Ver</a></div>
    </mat-list-item>
  </mat-list>

  <mat-list role="list" class="list">
    <mat-list-item class="row text-center" role="listitem">
      <div class="col-4">
        <img class="imgList" src="../../../assets/img/phonebook icon.png" alt="Phonebook" />
      </div>
      <div class="col-4">Nombre del directorio</div>
      <div class="col-4"><a routerLink="contactList">Ver</a></div>
    </mat-list-item>
  </mat-list>

</div>
